p {
	color: #fff;	
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-family: 'Fredoka One', cursive;
}

h1 {
	color: #fff;
	font-size: 50pt;
}

header {
}

body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;

	overflow: visible !important;
	background: -webkit-linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db);
	background: -moz-linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db);
	background: -ms-linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db);
	background: -o-linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db);
    background: linear-gradient(45deg, #69b7eb, #b3dbd3, #f4d6db);
}

.margin-bottom {
	margin-bottom: 40px;
}

.number-title {
	color: #000;
	font-weight: bold;
	font-family: 'Fredoka One', cursive;
}

.site-wrapper {
	text-align: center;
	width: 100%;
	min-height: 100%;


}